html, body{
  background-color: #e0e0e0;
}

.Logo{
  width: 80%;
}

.Line{
  width: 35%;
  height: 2px;
  background-color: #e0e0e0;
  margin: 20px 0px 50px 0px;
}

.Bar{
  width: 100%;
  height: 50px;
  background-color: black;
  position: absolute;
  top: 0;
}

@media screen and (min-width: 720px){
  .Logo{
    width: 50%;
  }
}